*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: white;
  height: 100%;
  background-size: 30%;
}

.header-logo img{
  vertical-align: middle;
  width: 80px;
}

.header-logo{
  font-size: 40px;
}
